.explore {
    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .explore_title {
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }

    @media only screen and (min-width: 768px) {
        .col-sm-5ths {
            width: 20%;
            float: left;
        }
    }

    @media only screen and (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }

    @media only screen and (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }

    .drop-down-group {     
        position: relative; 

        .dropdown {            
            position: absolute;
            left: 1000px;
            top: 25px;
        }

        @media only screen and (max-width: 1440px) {
            .dropdown {            
                position: absolute;
                left: 765px;
                top: 25px;
            }
        }

        @media only screen and (max-width: 1200px) {
            .dropdown {            
                position: absolute;
                left: 630px;
                top: 40px;
            }
        }
        
        .dropdown-toggle {           
            background: #11112F 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 20px #00000029;
            border: 1px solid #8080804f;
            font-size: 16px;
            border-radius: 5px;
            width: 160px;
            height: 42px;
            padding: 0px 30px 0px 20px;
            margin: 0px; 
            z-index: 1001;
        }
        
        .dropdown-toggle:after {
            content: "";
            vertical-align: 0.105em !important;
            margin-left: 10px !important;
        }

        .dropdown-menu { 
            border: 1px solid #8080804f;
            margin-top: -10px !important;
            z-index: 1000;
            font-size: 16px !important;
            width: 160px;
            min-width: 115px !important;

            button { 
                padding: 5px 0px 5px 20px;
            }

            &::before { 
                display: none;
            }
        }
    }

    .description {
        position: relative;

        .caret {
            right: 16px;
        }

        h3 {
            color: white;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .button-group {
        margin-bottom: 30px;
        margin-left: 0px;

        > button {
            background: #24204a 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 10px #00000029;
            border: 2px solid #ffffff26;
            border-radius: 25px;
            opacity: 1;
            padding-top: 5px;
            text-align: center;
            font-size: 16px;
            color: #ffffff;
            padding: 10px 20px;
            margin: 5px 5px;
        }

        .btn-secondary:not(:disabled):not(.disabled):active {
            background: transparent linear-gradient(90deg, #60d0b2 0%, #7953e2 100%) 0% 0% no-repeat padding-box;
            border: none;
        }
    }

    .bottom {
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
        display: block;

        > button {
            width: 208px;
            
            box-shadow: 0px 3px 10px #00000029;
            border: 1px solid #ffffff26;
            border-radius: 25px;
            opacity: 1;
            padding-top: 5px;
            text-align: center;
            font-size: 16px;
            color: #ffffff;
            padding: 10px 20px;
            margin: 5px 5px;
        }
    }
}

@media only screen and (max-width: 1460px) {
    .btn-drop {
        right: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    .btn-drop {
        right: 30px;
    }

    .description div:nth-child(2) {
        height: 80px;
        .btn-drop {
            left: 15px;
            right: unset;
        }
    }

    .description div:nth-child(1) {
        h3 {
            font-size: 20px;
        }
    }

    .explore .button-group {
        padding-left: 15px;
    }

    .explore .col-lg-5ths {
        width: 100%;
    }

    .card-list {
        display: flex;
        justify-content: center;
        align-items: center;
        
        > div {
            display: flex;
        }
    }

    .explore_title {
        text-align: center;
    }
}
