.explore {
    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .explore_title {
        font-size: 24px;
        font-weight: 600;
        color: white;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }

    @media only screen and (min-width: 768px) {
        .col-sm-5ths {
            width: 20%;
            float: left;
        }
    }

    @media only screen and (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }

    @media only screen and (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }

    .high-button-custom {
        position: relative;

        .justify-content-center:last-child { 
            .btn-drop { 
                display: block !important;
            }
        }

        .caret{
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            margin-top: -5px;
            margin-left: 0px;
            margin-right: 10px;
        }

        .btn-drop {
            height: 40px;
            width: 160px;
            background: #24204a 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 10px #00000029;
            border: 2px solid #ffffff26;
            border-radius: 25px;
            opacity: 1;
            padding: 8px 20px;
            padding-right: 30px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
            right: 20px;
            top: -150px;
            position: absolute;
            display: none;
        }

    }

    .description {
        position: relative;

        .caret {
            right: 16px;
        }

        h3 {
            color: white;
            font-size: 20px;
            font-weight: 600;
        }

        
    }

    .button-group {
        margin-bottom: 30px;
        margin-left: 0px;

        > button {
            background: #24204a 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 10px #00000029;
            border: 2px solid #ffffff26;
            border-radius: 25px;
            opacity: 1;
            padding-top: 5px;
            text-align: center;
            font-size: 16px;
            color: #ffffff;
            padding: 10px 20px;
            margin: 5px 5px;
        }

        .btn-secondary:not(:disabled):not(.disabled):active {
            background: transparent linear-gradient(90deg, #60d0b2 0%, #7953e2 100%) 0% 0% no-repeat padding-box;
            border: none;
        }
    }

    .bottom {
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
        display: block;

        > button {
            width: 208px;
            
            box-shadow: 0px 3px 10px #00000029;
            border: 1px solid #ffffff26;
            border-radius: 25px;
            opacity: 1;
            padding-top: 5px;
            text-align: center;
            font-size: 16px;
            color: #ffffff;
            padding: 10px 20px;
            margin: 5px 5px;
        }
    }
}

@media only screen and (max-width: 1460px) {
    .btn-drop {
        right: 30px;
    }
}

@media only screen and (max-width: 1200px) {
    .btn-drop {
        right: 30px;
    }

    .description div:nth-child(2) {
        height: 80px;
        .btn-drop {
            left: 15px;
            right: unset;
        }
    }

    .description div:nth-child(1) {
        h3 {
            font-size: 20px;
        }
    }

    .explore .button-group {
        padding-left: 15px;
    }

    .explore .col-lg-5ths {
        width: 100%;
    }

    .card-list {
        display: flex;
        justify-content: center;
        align-items: center;
        
        > div {
            display: flex;
        }
    }

    .explore_title {
        text-align: center;
    }
}
