.history_page {
  .history-title.row {
    color: #ffffff;
    vertical-align: middle;
    text-align: left;
    font-size: 47px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .history-cate {
    width: 0px;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0px;
    border-bottom: 1px solid;
    padding: 0px;
    margin-left: 16px;
    color: #333333;
  }
  .history-cates.row {
    padding-bottom: 40px;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    text-align: left;
    font: SemiBold 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 500;
    padding: 24px
  }
  .table > tbody > tr > td {
    color: rgba(255, 255, 255, 1) !important;
  }
  .table a {
    color: #ffffff;
    text-decoration: underline;
  }
  .card-plain {
    
    background-color: #0e102e;
    border-radius: 20px;
  }
  .tim-icons {
    padding-right: 10px;
  }
  .sort-field {
    display: flex;
  }
  .btn.btn-link {
    padding: 0em;
    font-size: 7px;
    color: white;
  }
  .search-button.row {
    position: absolute;
    float: right;
    bottom: 0px;
    right: 10px;
    width: 154px;
    height: 36px;
    background: #0E0E26 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0B0B0B29;
    border: 2px solid #FFFFFF26;
    border-radius: 25px;
    opacity: 1;
    margin: 0rem;
    place-content: center;
    text-align: left;
    font: Medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

  .search-title {
    img {
      margin-right: 8px;
    }
  }
  .table-responsive {
    overflow: hidden;
    border-radius: 25px;
    padding-bottom: 0rem;
    background: #11112F 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF26;
    border-radius: 25px;
    opacity: 1;
    overflow-x: auto !important;
  }
  .table img {
    padding-right: 15px;
  }
  .sort-buttons {
    padding-left: 4.95px;
  }
  .table > thead {
    background: #0E0E26 0% 0% no-repeat padding-box;
    border-radius: 25px 25px 0px 0px;
    opacity: 1;
    text-align: left;
    font: Medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  ul {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0px;
    
  }
  .react-tabs__tab {
    cursor: pointer;
  }
  .react-tabs__tab--selected {
    color: white;
    border-bottom: 4px solid;
    border-color: #7953E2 ;
  }
  .react-tabs__tab--selected.fiat {
    // margin-left:60px;
    margin-right: 0px;
    justify-content: right;
  }
  
  li {
    float: left;
    margin-right: 20px;
    padding-bottom: 5px;
  }
  .empty-tab {
    min-width: 80px;
  }
}

@media only screen and (max-width: 800px) {
  .history_page .table img {
    padding-right: 0px;
  }

  .history_page .search-button.row {
    bottom: -60px;
    right: -85px;
  }

  .table-row {
    margin-top: 30px;
  }

  .react-tabs__tab-list li {
    font-size: 20px;
  }

  .history_page .history-cates.row {
    width: 80%;
  }
}